<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../css/blog.css">
    <meta charset="UTF-8">
    <title>imdb Top1000</title>


</head>
<body style="
   background:url(/static/images/2.jpg)  no-repeat center center;
   background-size:cover;
   background-attachment:fixed;
   background-color:#CCCCCC;
   font-family: 华文楷体;">
<header class="blog-header py-3" style="background-color: #fbfcfc">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">

                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="#">imdb Studio</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('login') }}"></a>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light" style="font-size: 20px">
                    <a class="navbar-brand" href="" >imdb Stuido</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto justify-content-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="main.html" >recommendation<span class="sr-only">(current)</span></a>
                            </li>&nbsp;
                            <li class="nav-item">
                                <a class="nav-link" href="index1.html">imdb top1000</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="collect.html">my collections</a>
                            </li>
                               <li class="nav-item">
                                <a class="nav-link" href="matplotlib.html">matplotlib</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </header>
<div style="width: 100%;height: 1000px;margin: 0 auto;)">
   <form action="/index1.html" method="post" name="searhForm">
                                    <p class="card-subtitle mb-4">
                                        <input type="hidden" name="opr" value="search" />
                                        <input type="hidden" name="pageSize" value="{{ paramDict.get('pageSize') }}" />
                                        <input type="hidden" name="currentPage" value="{{ paramDict.get('currentPage') }}" />
                                        <input type="hidden" name="counts" value="{{ paramDict.get('counts') }}" />
                                        <input type="hidden" name="totalPage" value="{{ paramDict.get('totalPage') }}" />
                                    </p>
                                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                                  <thead>
                                            <tr>
                                                <th>poster</th>
                                                <th>title</th>
                                                <th>rating</th>
                                                <th>duration</th>
                                                <th>genres</th>
                                                <th>director</th>
                                                <th>stars</th>
                                                <th>cumulative_worldwide_gross</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for movie in showList %}
                                            <tr>
                                                <td> <img src = {{movie.get('poster_url')}} style="width: 50px;height: 50px"></td>
                                                <td>{{ movie.get('title') }}</td>
                                                <td>{{ movie.get('rating') }}</td>
                                                <td>{{ movie.get('duration') }}</td>
                                                <td>{{ movie.get('genres') }}</td>
                                                <td>{{ movie.get('director') }}</td>
                                                <td>{{ movie.get('stars') }}</td>
                                                 <td>{{ movie.get('cumulative_worldwide_gross') }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning btn-sm" onclick="collect({{ movie.get('id') }})">收藏</button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="10" align="right">
                                                    总共有{{ paramDict.get('counts') }}条  总共{{ paramDict.get('totalPage') }}页  当前第{{ paramDict.get('currentPage') }}页
                                                    <button type="button" class="btn btn-light btn-sm" onclick="changePage('first')">首页</button>
                                                    <button type="button" class="btn btn-light btn-sm" onclick="changePage('pre')">上一页</button>
                                                    <button type="button" class="btn btn-light btn-sm" onclick="changePage('next')">下一页</button>
                                                    <button type="button" class="btn btn-light btn-sm" onclick="changePage('last')">尾页</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
</div>

<script type="text/javascript">
    function changePage(op) {
        currentPage = Number.parseInt(document.searhForm.currentPage.value)
        totalPage = Number.parseInt(document.searhForm.totalPage.value)
        pageSize = document.searhForm.pageSize.value
        if( op == 'first'){
            document.searhForm.currentPage.value = 1
        }else if(op == 'pre'){
            document.searhForm.currentPage.value = (currentPage == 1?1:currentPage-1)
        }else if(op == "next"){
            document.searhForm.currentPage.value = (currentPage == totalPage? totalPage:currentPage+1)
        }else if(op == "last"){
            document.searhForm.currentPage.value = totalPage
        }
        document.searhForm.submit()
    }
       function collect(id){
        document.location.href="/collect?id=" + id
    }
</script>
</body>
</html>