<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>系统首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">
    <!-- App css -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
<body style="
   background:url(/static/images/2.jpg)  no-repeat center center;
   background-size:cover;
   background-attachment:fixed;
   background-color:#CCCCCC;
   font-family: 华文楷体;">
<header class="blog-header py-3" style="background-color:navajowhite">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">

                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="#">Painting Studio</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" href="登录.html">登录</a>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light" style="font-size: 20px">
                    <a class="navbar-brand" href="封页.html" >PStuido</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto justify-content-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="main.html" >主页<span class="sr-only">(current)</span></a>
                            </li>
                            &nbsp;
                            &nbsp;
                            <li class="nav-item ">
                                <a class="nav-link" href="学习平台.html">
                                    学习平台
                                </a>

                            </li>
                            &nbsp;
                            &nbsp;
							<li class="nav-item ">
                                <a class="nav-link " href="画作鉴定.html">
                                    画作鉴别
                                </a>

                            </li>
                            &nbsp;
                            &nbsp;
                            <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        画作交易
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="画作交易-购买.html">画作购买</a>
        <a class="dropdown-item" href="画作交易-出售.html">画作出售</a>
       </div>
    </li>
                            &nbsp;
                            &nbsp;
                                <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        线上比赛
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="比赛主页面.html">参加比赛</a>
        <a class="dropdown-item" href="创建比赛.html">创建比赛</a>
       </div>
    </li>
                            &nbsp;
                            &nbsp;
                            <li class="nav-item">
                                <a class="nav-link" href="person.html">个人中心</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </header>
<div style="width: 100%;height: 1000px;margin: 0 auto;)">
    <br>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-xl-10">
                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                                <th>title</th>
                                                <th>rating</th>
                                                <th>metascore</th>
                                                <th>duration</th>
                                                <th>genres</th>
                                                <th>stars</th>
                                                <th>director</th>
                                                <th>cumulative_worldwide_gross</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for movie in movieList %}
                                            <tr>
                                                <td>{{ movie.get('title') }}</td>
                                                <td>{{ movie.get('rating') }}</td>
                                                <td>{{ movie.get('metascore') }}</td>
                                                <td>{{ movie.get('duration') }}</td>
                                                <td>{{ movie.get('genres') }}</td>
                                                <td>{{ movie.get('stars') }}</td>
                                                <td>{{ movie.get('director') }}</td>
                                                <td>{{ movie.get('cumulative_worldwide_gross') }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
            </div>

        </div>
    </div>
</div>

<!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    <script src="/static/assets/js/simplebar.min.js"></script>
    <!-- Morris Js-->
    <script src="../plugins/morris-js/morris.min.js"></script>
    <!-- Raphael Js-->
    <script src="../plugins/raphael/raphael.min.js"></script>
    <!-- Morris Custom Js-->
    <script src="/static/assets/pages/dashboard-demo.js"></script>
    <!-- App js -->
    <script src="/static/assets/js/theme.js"></script>
</body>
</html>